#section-2{
  background-color: rgb(34,34,34);
  padding:80px 0 80px 0;
.about{
  text-align:center;
  .icons{
    color:rgb(241,83,94);
    font-size:63px;
  }
  h3{
    color:rgb(240,240,240);
    padding:15px 0;
  }
  p{
    color:rgb(220,220,220);
  }
}
.about{
  margin:20px 0;
}
}
