#section-7{
  padding:100px 0;
  .header{
  text-align: center;
  h2{
    text-transform: uppercase;
  }
    p{
      padding:14px 0 20px 0;
      text-align: center;
    }
  }
  .card{
    margin:5px 0;
    .btn{
      text-align: justify;
    white-space: normal;

.fas{
  position:absolute;
  right:16px;
top:25px;
}
    }
    .btn-link:hover{
    text-decoration: none;
    }
}
}
